@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    height: fit-content;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
}

#spotify-image {
    width: 15%;
}

.container {

    min-height: 100vh;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

}

h1 {
    color: limegreen;
    margin: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container .input-fields {
    width: 75%;
    height: 100px;
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

.container .input-fields .text-input {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .input-fields .correct-incorrect.correct {
    color: lime;
    align-self: center;
    font-size: 30px;
    font-weight: 800;
}

.container .input-fields .correct-incorrect.incorrect {
    color: red;
    align-self: center;
    font-size: 50px;
    letter-spacing: 20px;
    font-weight: 900;
}

.container .input-fields .text-input input {
    width: 80%;
    height: 30%;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
}

.container .button-field {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.container .button-field button {
    width: 30%;
    height: 100%;
    font-weight: 800;
    border-radius: 10px;
}

.container .button-field button:hover {
    background-color: lime;
    transition: ease 0.5s;
}

.container #lyric-field {
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

.container .answer {
    margin-top: 5%;
    font-size: 40px;
}