<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/main.css">

</head>

<body>

    <img id="spotify-image" src="../static/Spotify_Logo_RGB_Green.png">

    <div class="container">

        <h1>Spotify: Guess the Song and Artist</h1>

        <div class="input-fields">
            <div class="text-input">
                <label id="artist-label" for="artist">Artist Name</label>
                <input id="artist-input" type="text" name="artist">
            </div>

            <div class="correct-incorrect">

            </div>

            <div class="text-input">
                <label id="song-label" for="song">Song Name</label>
                <input id="song-input" type="text" name="song">
            </div>

        </div>

        <div class="button-field">
            <button id="check">Check</button>
            <button id="more">More</button>
        </div>

        <div id="lyric-field">

        </div>

    </div>

</body>


<script type="text/javascript">
    try {
        info = JSON.parse('{{data|tojson}}');
        console.log(info);
    }
    catch {
        document.location.reload(true);
    }
</script>
<script src="../static/script.js"></script>


</html>